*
{
    margin: 0;
    padding: 0;
}
body
{
    font-size: 1.6rem;
    background: #565466;
}
main_box:hover
{
    filter:contrast(220%);
}
body .main_box
{
    box-sizing:content-box;
    height:100%;
    width:100%;
}
.main_box nav
{
    
    display:flex;
    border:0;
    width:80%;
    height:120px;
    margin:4em auto;
    text-align: center;
    flex:1;
    
}

.main_box nav a 
{
    border:3px solid black;
    border-radius:15px;
    height:auto;
    width:20%;
    float:left;
    margin:0 auto;
    padding:42px 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.main_box nav .one
{
    border:3px solid black;
    height:auto;
    width:20%;
    float:left;
    margin:0 auto;
    padding:42px 2px;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;   
    
    
}

.main_box nav div
{
    border:3px solid black;
    height:auto;
    width:100%;
    float:left;
    margin:0 auto;
    padding:42px 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;   
    
    
}

.main_box nav a:hover
{
    background:#635f7f;
    cursor:pointer;
    color:white;
    border-color:white;
    clear:both;
}


.main_box header
{
    font-size: 2.2rem;
    width:80%;
    display:block;
    border:0;
    margin:0 auto;
    height:720px;
    border-radius: 42px;
}

.main_box header .img
{
    margin:4em auto;
    box-sizing: border-box;
    height:100%;
    width:100%;
    background-image: url(img/mama.JPG);
    background-size: 100% 100%;
    border-radius: 42px;
    border: solid 3px black;
    background-repeat: no-repeat;
    object-fit:cover;
    filter:grayscale(100%);
    max-width:1420px;
   
}
.img::after
{
   
    position: absolute;
    bottom:-250px;
    content: "Mama z jagodami :-)";
    letter-spacing: 10px;
    line-height: 1.8rem;
    cursor:default;
    font-style: italic;
    right:1;
    max-width:490px;
    
    
}
.main_box header .img:hover
{
    border-color:white;
    filter:grayscale(0%);
    filter:saturate(150%);
    cursor:pointer;
}
.main_box header .img_1
{
    margin:4em auto;
    box-sizing: border-box;
    height:100%;
    width:100%;
    background-image: url(img/light.JPG);
    background-size: 100% 100%;
    border-radius: 42px;
    border: solid 3px black;
    background-repeat: no-repeat;
    object-fit:cover;
    filter:grayscale(100%);
    max-width:1420px;
}

.img_1::after
{
    position: absolute;
    bottom:-1110px;
    content: "Wioskowe sianko ;-]";
    letter-spacing: 10px;
    line-height: 1.8rem;
    cursor:default;
    font-style: italic;
    right:1;
    max-width:490px;
    
    
}
.main_box header .img_1:hover
{
    border-color:white;
    filter:grayscale(0%);
    filter:saturate(150%);
    cursor:pointer;
}


.main_box header .img_2
{
    margin:4em auto;
    box-sizing: border-box;
    height:100%;
    width:100%;
    background-image: url(img/piwonia.JPG);
    background-size: 100% 100%;
    border-radius: 42px;
    border: solid 3px black;
    background-repeat: no-repeat;
    object-fit:cover;
    filter:grayscale(100%);
    max-width:1420px;
  
   
}
.img_2::after
{
   
    position: absolute;
    bottom:-1970px;
    content: "Piękna piwonia :*";
    letter-spacing: 10px;
    line-height: 1.8rem;
    cursor:default;
    font-style: italic;
    right:1;
    max-width:490px;
  
    
    
}
.main_box header .img_2:hover
{
    border-color:white;
    filter:grayscale(0%);
    filter:saturate(150%);
    cursor:pointer;
}

.main_box header .img_3:hover
{
    border-color:white;
    filter:grayscale(0%);
    filter:saturate(150%);
    cursor:pointer;
}


.main_box header .img_3
{
    margin:4em auto;
    box-sizing: border-box;
    height:100%;
    width:100%;
    background-image:url(img/awesome.JPG);
    background-size: 100% 100%;
    border-radius: 42px;
    border: solid 3px black;
    background-repeat: no-repeat;
    object-fit:cover;
    filter:grayscale(100%);
    max-width:1420px;
   
}
.img_3::after
{
   
    position: absolute;
    bottom:-2830px;
    content: "Cudowne niebo _|^^|_";
    letter-spacing: 10px;
    line-height: 1.8rem;
    cursor:default;
    font-style: italic;
    right:1;
    max-width:555px;
    
    
    
}
.main_box header .img_3:hover
{
    border-color:white;
    filter:grayscale(0%);
    filter:saturate(150%);
    cursor:pointer;
    clear:both;
}


.main_box header a .but
{
    position: absolute;
    top:3675px;
    right:0;
    border:0px solid black;
    background:navy;
    color:white;
    margin:0 15%;
    padding:22px 66px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;   
    font-size: 1.6rem;

}
